@model DNC.ViewModels.Article.ApplicationUserMV
@using  Dnc.Entities.Article
@using Dnc.Entities.Application

<style type="text/css">
    .zlb {
        width: 100px;
        height: 40px;
        color: #000000;
        float: left;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
        margin-left: 10px;
        border: 1px dashed #808080;
        font-family: 'Microsoft YaHei';
        cursor: pointer;
    }

    .clickB {
        background: #01AAED;
        color: #fff;
        border: 1px solid #01AAED;
    }

    .layui-edge {
        margin-top: 14px !important;
    }
</style>
<link href="~/css/layui.css" rel="stylesheet" />
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">用户信息修改</a></li>
    </ul>
</div>

<div class="formbody">

    <div class="formtitle"><span>基本信息</span></div>
    <form id="form" class="layui-form" name="form" asp-controller="ApplicationUser" asp-action="Edit">
        <div asp-validation-summary="All" class="text-danger"></div>
        <ul class="forminfo">
            <li>
                @if (Model.Photo == "")
                {
                    <img class="layui-anim layui-anim-scaleSpring" width="180" height="180" style=" border-radius:50%;margin:0 auto;display:block;" data-anim="layui-anim-scaleSpring" src="~/images/Admin/adminNull.jpg" alt="默认图片" />
                }
                else
                {
                    <img class="layui-anim layui-anim-scaleSpring" width="180" height="180" style="border-radius:50%;margin:0 auto;display:block;" data-anim="layui-anim-scaleSpring" src="@Model.Photo" alt="用户图片" />
                }
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label asp-for="Name"></label><input asp-for="Name" type="text" class="dfinput" readonly />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="layui-inline">
                        <label asp-for="UserName"></label><input asp-for="UserName" type="text" class="dfinput" readonly />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label asp-for="RegisterTime"></label><input autocomplete="off" asp-for="RegisterTime" name="CostpPrice" type="text" class="dfinput" readonly />
                        <span asp-validation-for="RegisterTime" class="text-danger"></span>
                    </div>
                    <div class="layui-inline">
                        <label asp-for="LastVisitTime"></label><input asp-for="LastVisitTime" type="text" class="dfinput" readonly />
                        <span asp-validation-for="LastVisitTime" class="text-danger"></span>
                    </div>
                </div>

            </li>

            <li>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label asp-for="Integral"></label><input asp-for="Integral" type="text" class="dfinput" readonly />
                        <span asp-validation-for="Integral" class="text-danger"></span>
                    </div>
                    <div class="layui-inline">
                        <label asp-for="Email"></label><input asp-for="Email" type="text" class="dfinput" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label asp-for="BirthDate"></label><input asp-for="BirthDate" type="text" class="dfinput" readonly />
                        <span asp-validation-for="BirthDate" class="text-danger"></span>
                    </div>
                    <div class="layui-inline">
                        <label asp-for="Phone"></label><input autocomplete="off" asp-for="Phone" type="text" class="dfinput" readonly />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
            </li>
            <li>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label asp-for="Locked"></label>
                        <div class="layui-input-block">
                            @if (Model.Locked)
                            {
                                <input type="radio" name="sex1" value="0" title="是" checked>
                                <input type="radio" name="sex1" value="1" title="否">
                            }
                            else
                            {
                                <input type="radio" name="sex1" value="0" title="是">
                                <input type="radio" name="sex1" value="1" title="否" checked>
                            }
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="layui-form-item">
                    <label>用户权限</label>
                    <div class="layui-input-block">
                        @foreach (var item in ViewData["group"] as List<ApplicationGroup>)
                        {
                            if (item.ID == Model.ApplicationGroupID)
                            {
                                <input type="radio" name="sex" value="@Model.ApplicationGroupID" title="@Model.ApplicationGroupName" checked>
                            }
                            else
                            {
                                <input type="radio" name="sex" value="@item.ID" title="@item.Name">
                            }
                        }
                    </div>
                </div>
            </li>
        </ul>
        <div class="editor-area">
        </div>
        <input type="hidden" id="ID" asp-for="ID" />
        <label>&nbsp;</label><input name="" type="submit"  class="layui-btn layui-btn-normal" value="确认保存" />
    </form>

</div>
<script src="~/js/layui.js"></script>
<script src="~/js/lay/modules/layer.js"></script>
<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>